<<<<<<< HEAD
<!doctype html>
  <h1>Buster's Best Bowling Alley</h1>
  <h2>Bet You Can't Bowl A Strike Every Time</h2>
  <p>97 Bowling Alley Lane, Boulder CO </p>
=======
<!DOCTYPE html>
<html>
    <h1> Buster's Best Bowling Alley</h1>
    <h2> Bet You Can't Bowl A Strike Every Time</h2>
    <p> 97 Bowling Alley Lane, Boulder CO </p>
</html>
>>>>>>> 4a4c0faef229a7035ba8a7599009a1c9f5b11bd3
